body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #f5f5f5
}
html, body {
  height: 100%;
}
header{
  min-height: 70px;
  background-color: #3672F8;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 50px;
}


header h2{
  color: #fff;
  font-size: 30px;
  padding: 14px 0;
  text-align: center;
  margin: 0 auto;
  font-weight: 500
}
.homeBtn,.logout{
  background-color: #fff;
  width: 140px;
  text-align: center;
  height: 40px;
  margin-top: 15px;
  padding-top: 7px;
  border-radius: 10px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.homeBtn:hover,.logout:hover{
  opacity: 0.85;
  color: #000;
  text-decoration: none;
}

form{
  max-width: 700px;
  margin: 40px auto;
}

.addBtn{
  float: right;
  width: 300px;
  height: 40px;
  color: #fff;
  background-color: #007bff;
  border: none;
  font-size: 20px;
  border-radius: 5px;
}

.error {
  position: relative;
  animation: shake .1s linear;
  animation-iteration-count: 3;
}

@keyframes shake {
  0% { left: -3px; }
  100% { right: -3px; }
}

@media (max-width: 768px){
  header{
    padding: 0 10px;
  }
  .homeBtn,.logout{
    width: 100px;
  }
  header h2{
    font-size: 25px;
    padding: 20px 0;
  }
  footer{
    font-size: 15px;
  }
  .addBtn {
    width: 100%;
  }
}